.card {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  margin: 3rem 0;
  background: white;
  animation: 0.5s ease-in fadeIn 1;
  align-items: center;
  min-height: 200px;
}

.invisible {
  display: block;
}

/* Estilo */
.neuBackground {
  background-color: #e6e6f0;
}
