/* Componentes ------------------------------------------ */
.card {
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0.5rem;
  margin-top: 2rem;
  background-color: #e6e6f0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.9);
  border: none;
  animation: 0.5s ease-in fadeIn 1;
  align-items: center;
  min-height: 200px;
}

.neuBtn {
  background-color: #e6e6f0 !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.9) !important;
  border: none;
  border-radius: 10px !important;
}

.neuBtn2 {
  background: #cd201f !important;
  background: -moz-linear-gradient(315deg, #cd201f 0%, #f04747 100%) !important;
  background: -webkit-linear-gradient(
    315deg,
    #cd201f 0%,
    #f04747 100%
  ) !important;
  background: linear-gradient(315deg, #cd201f 0%, #f04747 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd201f",endColorstr="#f04747",GradientType=1);
  color: #e6e6f0 !important;
}

.neuBtn:focus {
  border: none;
  outline: none !important;
}

.neuInput {
  background: #e6e6f0;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1),
    inset -5px -6px 15px rgba(255, 255, 255, 0.9);
  border-radius: 10px !important;
  border: none;
}
.neuInput:focus {
  background: #e6e6f0 !important;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1),
    inset -5px -6px 15px rgba(255, 255, 255, 0.9) !important;
  border-radius: 10px !important;
  border: none;
}

/* Utilidades ------------------------------------------- */
.invisible {
  display: block;
}

/* Colores - Gradients ---------------------------------- */
.neuBackground {
  background-color: #e6e6f0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.9);
  border: none;
}

.neuBackground2 {
  background: #e6e6f0;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1),
    inset -5px -6px 15px rgba(255, 255, 255, 0.9);
  border: none;
}

/* Imágenes --------------------------------------------- */
.isologo {
  src: "./imgs/isologo-adox.png";
}
